*~
*bak
.DS_Store
*xlsx
solutions
solution
*solution.rkt
7. nand2tetris/tools/
7. nand2tetris/projects/04/
7. nand2tetris/projects/05/
7. nand2tetris/projects/06/
7. nand2tetris/projects/07/
7. nand2tetris/projects/08/
7. nand2tetris/projects/09/
7. nand2tetris/projects/10/
7. nand2tetris/projects/11/
7. nand2tetris/projects/12/
7. nand2tetris/projects/13/
7. nand2tetris/projects/demo/
*out
*cmp
*tst
